= form_for @profile do |form|
  .row
    .col-sm-6
      .card
        .card-body
          
          .form-group.row
            .col-sm-8
              = form.text_field :first_name, placeholder: "First Name", class: 'form-control'

          .form-group.row
            .col-sm-8
              = form.text_field :last_name, placeholder: "Last Name", class: 'form-control'

          .form-group.row
            .col-sm-8
              = form.email_field :email, placeholder: "Enter email", class: 'form-control'
              %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

          .form-group.row
            %label.col-sm-2.col-form-label{for: "text"} Person
            .col-sm-10
              = form.collection_select :person_id, Person.order(:name),:id,:name, class: "form-control", include_blank: true

          .form-group.row
            %label.col-sm-2.col-form-label{for: "text"} Gender
            .col-sm-10
              = form.select :gender,['Male', 'Female'], class:"btn btn-secondary dropdown-toggle", include_blank: true

          .form-group.row
            %label.col-sm-2.col-form-label{for: "text"} Status
            .col-sm-10
              .radio
                = form.radio_button :active,true
                Active
                = form.radio_button :active,false
                Inactive

          .actions
            = form.submit"create profile", class:"btn btn-outline-secondary"
            = link_to 'Back', profiles_path, class:"btn btn-outline-secondary"

:javascript
  $('select').select2(); 