= form_with(model: profile, local: true) do |form|
  - if profile.errors.any?
    #error_explanation
      %h2
        = pluralize(profile.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - profile.errors.full_messages.each do |message|
          %li= message
  .row
  .col-sm-6
    .card
      .card-body
        
        .form-group.row
          .col-sm-8
            %input#text.form-control{:placeholder => "First Name", :type => "name"}/

        .form-group.row
          .col-sm-8
            %input#text.form-control{:placeholder => "Last Name", :type => "name"}/

        .form-group.row
          .col-sm-8
            %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email"}/
            %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

        .form-group.row
          %label.col-sm-2.col-form-label{for: "text"} Person
          .col-sm-10
            = form.collection_select :person_id, Person.order(:name),:id,:name, class: "form-control"

        .form-group
          = form.label :Gender
          %br
          .form-check.form-check-inline
            %input#inlineCheckbox1.form-check-input{type: "checkbox", value: "option1"}/
            %label.form-check-label{for: "inlineCheckbox1"} Female
          .form-check.form-check-inline
            %input#inlineCheckbox2.form-check-input{type: "checkbox", value: "option2"}/
            %label.form-check-label{for: "inlineCheckbox2"} Male

        .form-group
          = form.label :status
          %br
          .form-check.form-check-inline
            %input#inlineCheckbox1.form-check-input{type: "checkbox", value: "option1"}/
            %label.form-check-label{for: "inlineCheckbox1"} Active
          .form-check.form-check-inline
            %input#inlineCheckbox2.form-check-input{type: "checkbox", value: "option2"}/
            %label.form-check-label{for: "inlineCheckbox2"} Inactive
        .actions
          = form.submit"create profile", class:"btn btn-outline-secondary"
          = link_to 'Back', profiles_path, class:"btn btn-outline-secondary"