
%h1 Profiles
%table.table.table-striped.table-bordered.table-hover.table-responsive
  %thead.thead-dark
    %tr
      %th First name
      %th Last name
      %th Gender
      %th Email
      %th Person
      %th Status
      %th{colspan: "3"}
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.first_name
        %td= profile.last_name
        %td= profile.gender
        %td= profile.email
        %td= profile.person_id
        %td
          - if profile.status
            %input{checked: 'checked',class: 'profile_check', id: profile.id, data: { toggle: 'toggle', off: 'deactivated', on: 'activated'}, onclick: "change_status(#profile.id)", type: 'checkbox'}
          - else
            %input{ data: { toggle: 'toggle', off: 'inactive', on: 'active'}, class: 'profile_check', id: "#{profile.id}", onclick: "change_status(#profile.id)", type: 'checkbox'}
        %td= link_to 'Show', profile, class:"btn btn-outline-secondary"
        %td= link_to 'Edit', edit_profile_path(profile), class:"btn btn-outline-secondary"
        %td= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"
%br/
= link_to 'New Profile', new_profile_path, class:"btn btn-outline-secondary"