
%p
  %strong First name:
  = @profile.first_name
%p
  %strong Last name:
  = @profile.last_name
%p
  %strong Gender:
  = @profile.gender
%p
  %strong Email:
  = @profile.email
%p
  %strong Person:
  = @profile.person_id
%p
  %strong Status:
  = @profile.active
= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-outline-secondary"
= link_to 'Back', profiles_path, class:"btn btn-outline-secondary"