%p
  %strong Name:
  = @person.name
%p
  %strong Date of birth:
  = @person.date_of_birth
%p
  %strong Phone number:
  = @person.phone_number
= link_to 'Edit', edit_person_path(@person)
|
= link_to 'Back', people_path