%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-sm-6
      .card
        .card-body
          .form-group.row
            .col-sm-8
              = f.email_field :email, placeholder: "Enter email", class: 'form-control'
          .form-group.row
            .col-sm-8
              = f.password_field :password, placeholder: "Password", class: 'form-control'
          - if devise_mapping.rememberable?

            .form-check
              %input.form-check-input{type: "checkbox"}/
              %label.form-check-label{for: "exampleCheck1"} remember me
            %br
          .actions
            = f.submit "Log in", class:"btn btn-outline-secondary"
            = render "devise/shared/links"
