
%p
  %strong Country:
  = @address.country
%p
  %strong City:
  = @address.city
%p
  %strong Person:
  = @address.person_id
= link_to 'Edit', edit_address_path(@address), class:"btn btn-outline-secondary"
= link_to 'Back', addresses_path, class:"btn btn-outline-secondary"