%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    
    .container
      %nav.navbar.navbar-expand-lg.navbar-custom
        %a.navbar-brand{:href => "#"} Brand
        %ul.navbar-nav.ml-auto
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.active
                %a.nav-link{{:href => root_path}}
                  Home 
                  %span.sr-only (current)
              %li.nav-item
                %a.nav-link{{:href => profiles_path}} Profile 

              %li.nav-item
                %a.nav-link{{:href => addresses_path}} Adress
                  
              %li.nav-item.dropdown
                %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Pages
                .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                  %a.dropdown-item{{:href => profiles_path}} Profile
                  .dropdown-divider
                  %a.dropdown-item{{:href => addresses_path}} Adress


      #flash_hook
      .text-center
        - flash.each do |key, value|
        - alert_class = flash[:notice] ? 'success' : 'danger'
          %div{class: "alert alert-#{alert_class}"}
            %button.close{aria_label: 'Close', data: {dismiss: 'alert'}, type: 'button'}
              %span{aria_hidden: 'true'} ×
            = value
      = yield