%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    
    
    %nav.navbar.navbar-expand-lg.navbar-custom.justify-content-center

      %ul.navbar-nav
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.ml-auto
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              %a.nav-link{{:href => root_path}}
                Home 
                %span.sr-only (current)
            %li.nav-item
              %a.nav-link{{:href => profiles_path}} Profile 

            %li.nav-item
              %a.nav-link{{:href => addresses_path}} Address


            .collapse.navbar-collapse#bs-example-navbar-collapse-1
              %li.nav-item.dropdown
                - if current_user
                  -# - unless Rails.env.production?
                  -#   %li{class: 'active'}= link_to Rails.env.titleize, '#'
                  %li.dropdown
                    %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      = current_user.name
                      -# %span.caret
                    %ul.dropdown-menu#logout
                      %li.dropdown-item= link_to 'Sign out', destroy_user_session_path, method: :delete, id: 'nav-a'
                  .modal-mask
                    .modal
                      %strong Your online session is about to expire
                      %br
                      %button.modal-btn I'm still here!
                - else
                  %li.active#nav-li= link_to 'Sign in', user_azure_oauth2_omniauth_authorize_path, class:"btn btn-light"                
                      

    .container
      #flash_hook
      .text-center
        - flash.each do |key, value|
        - alert_class = flash[:notice] ? 'success' : 'danger'
          %div{class: "alert alert-#{alert_class}"}
            %button.close{aria_label: 'Close', data: {dismiss: 'alert'}, type: 'button'}
              %span{aria_hidden: 'true'} ×
            = value
      = yield